/* style.css */
body {
    background-image: url('/static/images/nf_main.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.button {
    display: inline-block;
    padding: 4px 11px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #575757;
    border: none;
    border-radius: 9px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Active effect */
.button:active {
    background-color: #004085;
    transform: scale(0.95);
}

/* Nav Bar */
.navbar {
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.65);
    padding: 10px 20px;
    text-align: right;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
.navbar a:hover {
    background-color: #575757;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
.navbar .menu {
    display: inline;
    margin-left: 10px;
    right: 5px;
}
.navbar .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar .menu a {
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .navbar .menu-toggle {
        display: flex;
    }
}
