<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pagamento</title>
</head>
<body>
    <h1>Pagamento</h1>
    <button id="checkout-button">Pagar</button>

    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        const mp = new MercadoPago('{{ public_key }}', {
            locale: 'pt-BR'
        });

        mp.checkout({
            preference: {
                id: '{{ preference_id }}'
            },
            autoOpen: true, // Abre automaticamente a janela de pagamento
        });
    </script>
</body>
</html>
