{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Horários de Aulas</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <h1>Horários de Aulas</h1>
    <table>
        <thead>
            <tr>
                <th>Dia</th>
                <th>Horário</th>
                <th>Disciplina</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in horarios %}
            <tr>
                <td>{{ horario.dia }}</td>
                <td>{{ horario.horario }}</td>
                <td>{{ horario.disciplina }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</body>
</html>
