{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola de Dança</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <p>Administrador - {{ user.username }}</p>
            <!-- Funcionalidades administrativas -->
        {% elif user.is_staff %}
            <p>Olá, {{ user.username }}!</p>
            <!-- Funcionalidades de staff -->
            <a href="{% url 'manage_class_schedules' %}" class="btn">Editar Horários</a>
        {% else %}
            <p>Bem-vindo, {{ user.username }}!</p>
            </p>
        {% endif %}
        <p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </p>
    {% endif %}
    <h1>Bem-vindo à NF Page!</h1>
    <p></p>
    <a href="{% url 'class_schedules' %}" class="btn">Ver Horários</a>
    <p></p>
    {% if user.is_authenticated %}
        <p>Confira nossos horários de aulas e marque uma aula experimental!</p>
        <button id="experimental-class-botao">Marcar Aula Experimental</button>
        <p></p>
    {% else %}
        <p>Bem-vindo! Por favor, faça login ou registre-se para acessar mais funcionalidades.</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}

    <script src="{% static 'main.js' %}"></script>

</body>
</html>
